:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --background-color: #ecf0f1;
    --text-color: #ffffff;
 }
header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    background-color: #7aa162;
    color: white;
    margin: 1rem auto;
 }
header img {
    margin-left: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
nav {
    display: flex;
    justify-content: center;
 }

body {
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
 }

p {
    color: #333;
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: 16px;
 }

/* class selectors */
.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
 }
  
.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-style: normal;
 }

.social-link {
    text-decoration: none;
    color: #3498db;
 }

.hero img {
    display: block;
    width: 100%;
    height: auto;
    position: relative;

 }
.hero article h2 {
    color: #ffffff;
 }
.hero article {
    position: absolute;
    bottom: 20%;
    left: 14%;
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7); 
    
 }
.hero article p {
    line-height: 1.6;
    font-size: 16px;
    color: #ffffff;
 }
.hero article img {
    float: right;
    width: 100px;
 }
.hero{
    position: relative;
 }
.hero h1 {
    color: var(--text-color);
    margin-bottom: 10px;
    position: absolute;
    top: 50px;
    background-color: rgba(141, 183, 34, 0.5);
    text-align: center;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
 }

.navigation {
	display: flex;
	list-style: none;
 }

.navigation a {
	display: block;
	color: rgb(237, 237, 237);
	padding: 15px;
	text-decoration: none;
    border: 1px solid rgb(54, 54, 54);
    margin: 1px;
 }

.navigation a:hover {
	color: tomato;
	font-weight: 700;
	text-decoration: none;
 }

.adventures {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
figure {
    text-align: center;
}
  
figure img {
    max-width: 125%;
    height: auto;
    border: 1px solid #000000;
    border-radius: 8px;
}
section h2{
    text-align: center;
}
h2 {
    text-align: center;
}
  
figcaption {
    margin-top: 10px;
    font-weight: bold;
  }

footer {
    padding: 20px;
    display: flex;
    justify-content: space-between;
  }

footer p{
    margin-left: 400px;
  }