:root {
    --primary-color: #0e4b51;
    --secondary-color: #164813;
    --accent1-color: #6ba368;
    --accent2-color: #515b3a;

    --heading-font: sans-serif;
    --paragraph-font: serif;

    --nav-background-color: #e6fafc;
    --nav-link-color: #164813;
    --nav-hover-link-color: #6ba368;
    --nav-hover-background-color: #515b3a;
}
body {
    font-family: var(--paragraph-font); 
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
header {
    padding: 20px;
    background-color: var(--accent1-color);
}
p {
    padding: 20px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}
nav a {
    display:block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem
}
nav a:link, nav a:visited{
    color: var(--nav-link-color);
}
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);     
}
